# UK Deployment Overlay
# Region: eu-west-2 (London)
# Compliance: UK GDPR, Data Protection Act 2018, Caldicott Principles, NHS Digital Standards

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: recovery-pilot-uk

resources:
  - ../../base

patches:
  - target:
      kind: ConfigMap
      name: recovery-pilot-config
    patch: |
      - op: add
        path: /data/DEPLOYMENT_REGION
        value: "eu-west-2"
      - op: add
        path: /data/COMPLIANCE_REGIME
        value: "UK_GDPR"
      - op: add
        path: /data/DATA_RESIDENCY_REGION
        value: "eu-west-2"
      - op: add
        path: /data/AWS_REGION
        value: "eu-west-2"
      - op: add
        path: /data/SMS_PROVIDER
        value: "sns"

  - target:
      kind: Deployment
      name: recovery-pilot-api
    patch: |
      - op: replace
        path: /spec/replicas
        value: 3

  - target:
      kind: HorizontalPodAutoscaler
      name: recovery-pilot-api-hpa
    patch: |
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 15

commonLabels:
  region: uk
  compliance: uk-gdpr
  environment: production
